:root {
  --primary: #ffce00;
  --secondary: #fe4880;
  --light: #f3f3f3;
  --dark: #212121;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.card {
  margin: 20px 10px;
  width: 250px;
  height: 150px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card-inner.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card-face-back {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.card-face-front {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
  height: 100%;
}

.card-wrapper {
  display: flex;
  position: absolute;
  top: 150px;
  left: 10%;
  background-color: whitesmoke;
  flex-wrap: wrap;
  flex-direction: row;
  /* padding:60px 60px; */
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  padding-top: 0px;
  width: 80%;
  border-radius: 20px;
}

.game-heading {
  display: flex;
  /* position: absolute; */
  /* left: 10%; */
  /* flex-direction: column; */
  justify-content: space-between;
  text-align: center;
  margin: 15px auto;
  background-color: #647b71;
  width: 80%;
  color: #fff;
  border-radius: 20px;
  padding: 15px 28px;
  align-items: center;
  box-shadow: 1px 8px 14px 1px rgba(0, 0, 0, 0.2);
}
.game-heading .anime-lover {
  padding-top: 2px;
}

.matched-card-visibility {
  visibility: hidden;
}

a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}

#theme-set {
  position: fixed;
  top: 0px;
  z-index: 2;
  margin: 1em;
  border-radius: 50%;
  left: 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #444;
  box-shadow: 0px 0px 2px #222;
}

.fa-moon {
  color: #f5f5f5;
}

.fa-sun {
  color: #444;
}
