:root{
  --primary:#FFCE00;
  --secondary:#FE4880;
  --light:#F3F3F3;
  --dark :  #212121;

}

*{
  margin:0;
  padding:0;
}

*,*::before,*::after{
  box-sizing: border-box;
}

html:focus-within{
  scroll-behavior: smooth;
}

body{
  width:100%;
  min-height:100vh;
}

.card{
  margin: 20px 10px;
  width:250px;
  height:150px;
}

.card-inner{
  width:100%;
  height:100%;
  transition:transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position:relative;
}

.card-inner.is-flipped{
  transform:rotateY(180deg)
}

.card-face{
  position:absolute;
  width:100%;
  height:100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow:hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2) ;

}

.card-face-back{
  display: flex;
  justify-content: center;
  align-items: center;
  transform:rotateY(180deg)
}

.card-face-front{
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  width:100%;
  height:100%;
}


.card-wrapper{
  display:flex;
  position: absolute;
  top:150px;
  left:10%;
  background-color: whitesmoke;
  flex-wrap: wrap;
  flex-direction: row;
  /* padding:60px 60px; */
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  padding-top:0px;
  width:80%;
  border-radius: 20px;
  
}

.game-heading{
  display:flex;
  position:absolute;
  left:10%;
  flex-direction:column;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  background-color: red;
  width:80%;
  border-radius: 20px;
  padding-top: 15px
}
.game-heading .anime-lover{
  padding-top:2px
}
.game-heading .moves{
position:relative;
left:300px;
padding-bottom:15px;
}

.matched-card-visibility{
  visibility: hidden;
}
